#files
*.pyc
*.ide
*.cache
*.user
*.suo
*.cache
*.bak
*.vsp
*.psess
*.pdb
*.mdb
*.DS_Store
*.userprefs
*.jmconfig
*.pyc

project.lock.json
launchSettings.json

#folders
.vs
Bin
Obj

#JetBrains
_ReSharper*
.idea

packages